@font-face {
    font-family: "Space Mono";
    src: url('/fonts/SpaceMono-Regular.ttf'),url('/fonts/SpaceMono-Bold.ttf'), url('/fonts/SpaceMono-BoldItalic.ttf'), url('/fonts/SpaceMono-Italic.ttf');
}

@font-face {
    font-family:"noto";
    src: url('/fonts/NotoSansMono-VariableFont_wdth,wght.ttf')
}
