@page "/"
@inject ILogger<Home> Logger
@inject IJSRuntime JS
@using DMS.Client.Components.UI

<PageTitle>首页</PageTitle>

<div class="d-flex align-items-end gap-2 text-bg-primary rounded my-1 px-1"
	 style="height: calc(64px - .5rem)">
	<h1 class="m-0 p-0">EChartsDemo</h1>

	<div class="text-decoration-underline link-offset-2 pb-1" style="color: lightgray;">
		一个测试Echart的页面
	</div>
</div>

<div class="d-flex gap-2 flex-column home-container py-2">

	<EChart Option="@($$""""
	{
		"xAxis": {
			"data": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
		},
		"yAxis": {},
		"series": [
			{
				"type": "bar",
				"data": [22, 33, 44, 55, 44, 33, 22]
			}
		]
	}
	"""")"></EChart>

	<div class="d-flex flex-row h-100 gap-2">
		<EChart Option="@($$""""
	{
		"xAxis": {
			"data": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
		},
		"yAxis": {},
		"series": [
			{
				"type": "bar",
				"data": [11, 11, 11, 11, 11, 11, 11]
			}
		]
	}
	"""")"></EChart>
		<EChart></EChart>
		<EChart Option="@($$""""
	{
		"xAxis": {
			"data": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
		},
		"yAxis": {},
		"series": [
			{
				"type": "bar",
				"data": [22, 33, 44, 55, 44, 33, 22]
			}
		]
	}
	"""")"></EChart>

	</div>
</div>

@code {

}