@page "/"
@inject IJSRuntime JS

<PageTitle>首页</PageTitle>

<h1>EChartsDemo</h1>

<div>
	一个测试Echart的页面
</div>

<div id="main" class="w-100" style="height: 300px;"></div>

<button class="btn btn-secondary" @onclick="ChangeData">ChangeData</button>

<script lang="ts">
	let option = {
		xAxis: {
			data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
		},
		yAxis: {},
		series: [
			{
				type: 'bar',
				data: [23, 24, 18, 25, 27, 28, 25]
			}
		]
	}

	let myChart = null;

	var observer = new ResizeObserver((entries) => {
		myChart.resize()
	})


	window.Initialized = () => {
		myChart = echarts.init(document.getElementById('main'))
		myChart.setOption(option)

		observer.observe(document.getElementById('main'))
	}

	window.ChangeOption = (data) => {
		myChart.setOption({ series: [{ data }] })
	}
</script>

@code {
	private void ChangeData()
	{
		var r = new Random();
		int[] data = [r.Next(100), r.Next(100), r.Next(100), r.Next(100), r.Next(100), r.Next(100), r.Next(100)];
		JS.InvokeVoidAsync("ChangeOption", data);
	}

	protected override async Task OnInitializedAsync()
	{
		await Task.Run(() =>
		{
			JS.InvokeVoidAsync("Initialized");
		});
	}
}