<Router AppAssembly="@typeof(Routes).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		@* 是否聚焦 *@
		@* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView>
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>
