@inherits LayoutComponentBase

<div class="d-flex flex-column flex-md-row vh-100">
	<aside class="flex-shrink-0 d-flex flex-column border-end position-relative">
		<NavMenu></NavMenu>
	</aside>

	<div class="d-flex flex-column w-100 h-100 bg-primary-subtle">
		@*
		<header class="d-none d-md-flex flex-shrink-0 header border-bottom flex-row align-items-center px-2">

		</header>
		*@

		<main class="d-flex flex-column px-2 h-100">
			@Body
		</main>
	</div>
</div>