@inject ILogger<Home> Logger
@inject IJSRuntime JS


<header class="d-flex flex-shrink-0 align-items-center justify-content-center">
	<a class="title link-underline link-underline-opacity-0 text-white" href="">DMS CLIENT</a>

	<button class="menu-btn btn btn-outline-secondary px-4 ms-auto me-0" @onclick="ToggerMenu">
		<span class="bi bi-stack"></span>
	</button>
</header>


<div class="nav @(MenuOpen?"show":null) flex-column gap-2 pt-2 z-3" @onclick="CloseMenu">
	<div class="nav-item">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
			<span class="bi bi-house-door"></span> 首页
		</NavLink>
	</div>

	<div class="nav-item">
		<NavLink class="nav-link" href="/demo">
			<span class="bi bi-list-nested"></span> 测试
		</NavLink>
	</div>

	<div class="nav-item nav-link">
		<button class="btn btn-primary w-100" @onclick="DemoFunc">测试按钮</button>
	</div>


	<div class="nav-item position-absolute bottom-0 mb-2 start-0 end-0 mx-1 danger">
		<NavLink class="nav-link" href="">
			<span class="bi bi-power"></span> 退出
		</NavLink>
	</div>
</div>

@code {
	private bool MenuOpen { get; set; } = false;

	private void ToggerMenu()
	{
		MenuOpen = !MenuOpen;
	}

	private void CloseMenu()
	{
		MenuOpen = false;
	}

	private void DemoFunc()
	{
	}
}