header {
    height: 64px;
    background-image: linear-gradient(135deg,#abdcff,#0396ff);
}

.nav {
    padding: 2px 4px;
    height: 100%;
    background-image: linear-gradient(135deg,#43cbff,#9708cc);
}

::deep .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 8px;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 8px;
    border: 2px solid transparent;
    color: #0396ff;
    background-color: #ecf0f188;
    transition-property: border, color, transform;
    transition-duration: .5s, .5s, .25s;
}

    ::deep .nav-link:hover {
        background-color: #ecf0f1a0;
        transform: rotate(-2deg);
        color: #0396ff;
    }

    ::deep .nav-link .bi {
        font-size: 1.5rem;
    }

    ::deep .nav-link.active {
        border: 2px solid white;
    }

.menu-btn {
    display: none;
}

::deep .danger .nav-link {
    border-color: #e74c3c;
    color: #e74c3c;
    background-color: #e74c3c44;
}

    ::deep .danger .nav-link:hover {
        transform: rotate(2deg);
    }

@media (width >= 1200px) {
    .title {
        font-size: 2.5rem;
    }
}

@media (width >= 992px) and ( width < 1200px) {
    .title {
        font-size: 2rem;
    }
}

@media (width >= 768px) and (width < 992px) {
    .title {
        font-size: 1.75rem;
    }
}

@media (width < 768px) {
    header {
        padding: 0 4px;
    }

    .menu-btn {
        display: inline-block;
    }

    .title {
        font-size: 2.5rem;
    }

    .nav {
        background-color: white;
        width: 100vw;
        height: calc(100% - 64px);
        top: 64px;
        transform: scaleY(0);
        position: absolute;
        transform-origin: top;
        transition-duration: .5s;
        transition-property: all;
        transition-timing-function: linear;
    }

        .nav.show {
            transform: scaleY(1);
        }
}
